@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,400;0,500;0,600;0,900;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    list-style: none !important;
    box-sizing: border-box !important;
}

.see {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.feeds {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.wallet {
    color: #000;
    font-family: ' Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.6;
}

.gap-59 {
    gap: 59px;
}

.here {
    border-radius: 25.5px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    background: #FFF;
    display: flex;
    width: 315px;
    padding: 8px 24px;
    align-items: flex-start;
    gap: 10px;

}

.gap-25 {
    gap: 25px;
}

.shadow1 {
    box-shadow: 0px 4px 35px 0px #00000014;
}

.cards {
    max-width: 951px;
    flex-shrink: 0;
    border: 1px solid rgba(0, 0, 0, 0.20);
    background: #FFF;
    padding: 22px;
    margin-bottom: 31px;
}

.doe {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.6;
}

.pt-44 {
    padding-top: 44px;
}

.pt-37 {
    padding-top: 37px;
}

.pl-600 {
    padding-left: 600px;
}

.wh-space {
    white-space: nowrap;
}

.pr-21 {
    padding-right: 21px;
}

.pb-17 {
    padding-bottom: 17px;
}

.box1 {
    padding: 8px 24px;
    justify-content: space-between;
    border-radius: 25.5px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    background: #FFF;
}

.post {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: #1A9FFF;
}

.border-none {
    border: none;
}

.pb-24 {
    padding-bottom: 24px;
}

.filter {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.6;
}

.pl-10 {
    padding-left: 10px;
}

.liked {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.6;
}

.Suggestion {
    color: #000;
    font-family: ' Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.6;
}

.pt-40 {
    padding-top: 40px;
}

.jhone {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.pl-17 {
    padding-left: 17px;
}

.follow {
    color: #1A9FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.pl-113 {
    padding-left: 113px;
}

.pt-17 {
    padding-top: 17px;
}

.copy {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    opacity: 0.6;
    font-weight: 400;

}

.pt-42 {
    padding-top: 42px;
}

.pl-25 {
    padding-left: 25px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.card1 {
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #fafafafd;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
        linear-gradient(0deg, #FAFAFA, #FAFAFA);
    border: 1px solid #0000001A
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.mt-44 {
    margin-top: 44px;
}

.mb-17 {
    margin-bottom: 17px;
}

.ml-15 {
    margin-left: 15px;
}

.overflow-x {
    overflow-x: scroll;
}

.card2 {
    border: 1px solid rgba(0, 0, 0, 0.20);
    background: #FFF;
    padding: 12px;
    margin-right: 10px;
}

.most {
    display: inline-flex;
    padding: 5px 12px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 25.5px;
    background: #0000001A;
    margin-left: 10px;
    transition: linear 300ms;
}

.most:hover {
    background-color: black;
    color: #fff;
}

.pt-8 {
    padding-top: 8px;
}

.px-40 {
    padding-left: 40px;
    padding-right: 40px;
}

.pt-120 {
    padding-top: 120px;
}

.bor-none {
    border: none;
}

.pt-16 {
    padding-top: 16px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-13 {
    padding-bottom: 13px;
}

.gap-10 {
    gap: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.px-35 {
    padding-left: 35px;
    padding-right: 35px;
}

.outline-none {
    outline: none;
}

@media (max-width:768px) {
    .justify-content-between {
        justify-content: end !important;
    }

}

@media(max-width:992px) {
    label[for="menubar"] {
        display: flex;
        width: 30px;
        height: 25px;
        flex-direction: column;
        position: relative;
        z-index: 3;
        cursor: pointer;
        justify-content: space-between;
    }

    label[for="menubar"]>span {
        display: flex;
        width: 100%;
        height: 4px;
        border-radius: 3px;
        background-color: black;
    }

    label[for="menubar"]>span {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }


    .mobile-view {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: gray;
        flex-direction: column;
        z-index: 2;
        transition: all 200ms linear;
        opacity: 0;
        pointer-events: none;
    }

    input[type="checkbox"]:checked+div.mobile-view {
        left: 0;
        opacity: 1;
        pointer-events: all;
        z-index: 1;
    }

    input[type="checkbox"]:checked+div.mobile-view ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .pos-fix {
        position: fixed;
        left: 0;
        right: 0;
        z-index: 2;
        background-color: white;
    }
}


@media (min-width:768px) {
    .col-lg-8 {
        width: 66.66%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-3 {
        width: 25%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .fs-lg-36 {
        font-size: 36px;
    }
}